.demo {
    padding-bottom: 0rem;
}

.demo .container .item {
    height: 13rem;
    line-height: 13rem;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.demo .container div:nth-child(even) > .item {
    background-color: #bc8b67;
}

.demo .container div:nth-child(odd) > .item {
    background-color: #a77856;
}
