.hero {
    background-color: #f5e0d1;
}

.hero h1,
.hero h2 {
    color: #523824;
}

.hero .buttons a {
    border-color: #523824;
    color: #523824;
    background-color: #f5e0d1;
}

.hero .buttons a:hover {
    border-color: #523824;
}

.hero .buttons .is-selected {
    color: #f5e0d1;
    background-color: #523824;
}
